.card {
  background-image: url(../../assets/kategori-imgs/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 60px 200px;
}

.card2 {
  background-image: url(../../assets/kategori-imgs/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 60px 200px;
}
.card3 {
  background-image: url(../../assets/kategori-imgs/img3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 60px 200px;
}
.card4 {
  background-image: url(../../assets/kategori-imgs/img4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 60px 200px;
}
